<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    detailpagina
    <article class="active" id="detail">
            
            <div>
                <a href="#">✖</a>
                <h1 data-bind="main" class="main"></h1>
                <span data-bind="date" class="date"></span>
                <p data-bind="lead" class="lead"></p>
                <img src="" key-binding='image' class="image">
                <p data-bind="snippet" class="snippet"></p>
                <span data-bind="source" class="source"></span>
                <a data-bind="url" class="url"></a>
                <ul data-bind="subject" id="subject">
                    <li data-bind="value" class="value"></li>
                </ul>
                <span data-bind="author" class="author"></span>
            </div>
        </article>
    <% if (story) { %>
        <p><%= story %></p>
    <% } %>
</body>
</html>